@font-face {
    font-family: 'Readex Pro';
    src: url('/content/themes/default/fonts/ReadexPro-Medium.woff2') format('woff2'),
        url('/content/themes/default/fonts/ReadexPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('/content/themes/default/fonts/ReadexPro-ExtraLight.woff2') format('woff2'),
        url('/content/themes/default/fonts/ReadexPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('/content/themes/default/fonts/ReadexPro-Bold.woff2') format('woff2'),
        url('/content/themes/default/fonts/ReadexPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('/content/themes/default/fonts/ReadexPro-Light.woff2') format('woff2'),
        url('/content/themes/default/fonts/ReadexPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('/content/themes/default/fonts/ReadexPro-Regular.woff2') format('woff2'),
        url('/content/themes/default/fonts/ReadexPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('/content/themes/default/fonts/ReadexPro-SemiBold.woff2') format('woff2'),
        url('/content/themes/default/fonts/ReadexPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

